body{
    background: white;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color: black;
    text-align:center;
}

.assignments {
    background:lightgray;
    display:flex;
    padding:10px;
    margin: 10px;
}

.assignments img{
    width: 200px;
    border: 2px solid black;
}

a {
    text-decoration: none;
    color: black;
}