body{
    background: #264653;
    font-family:Arial, Helvetica, sans-serif;
}
.assignments{
    display:flex;
    flex-wrap:wrap;
}
h1{
    color: #E9C46A;
    text-align:center;
}

.assignment {
    width: 30%;
    background:#E76F51;
    padding:10px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 5px 10px #E9C46A;
}

.assignment img{
    margin:auto;
    width: 200px;
    height: 200px;
    border: 2px solid #E9C46A;
    border-radius: 5px;
    margin-right: 5px;
}

a {
    text-decoration: none;
    color: #264653;
}

p {
    color: #264653;
}